<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
        {{>navbar}}
        <section class="categories">
            {{#each categories}}
            <a href="">{{this.title}}</a>
            {{/each}}
        </section>

        <section class="videos">
        {{#each videos}}
                <div class="videoInfo">
                <img src={{this.image}} alt="">
                    <h1>{{this.title}}</h1>
                    <p>{{this.channel}}</p>
                </div>
          {{/each}}
        </section>
</body>

</html>